<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ac.li000554.androidlabs">
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:theme="@style/AppTheme">

        <activity android:name=".StartActivity">

        </activity>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ListItemsActivity">

        </activity>

        <activity android:name=".ChatWindow">

        </activity>

        <activity android:name=".WeatherForecast">

        </activity>
    </application>

</manifest>